@layer utilities {
  .custom-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: theme("padding.2");
    padding-right: theme("padding.2");
  }
  
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 570px;
    /* padding-left: theme("padding.2"); */
    /* padding-right: theme("padding.2"); */
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 758px;
    /* padding-left: theme("padding.4"); */
    /* padding-right: theme("padding.4"); */
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 980px;
    /* padding-left: theme("padding.4"); */
    /* padding-right: theme("padding.4"); */
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1170px;
    /* padding-left: theme("padding.8"); */
    /* padding-right: theme("padding.8"); */
  }
}

@media (min-width: 1440px) {
  .custom-container {
    max-width: 1350px;
    /* padding-left: theme("padding.10"); */
    /* padding-right: theme("padding.10"); */
  }
}
💡
.title_medium{
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: inherit;
  text-transform: capitalize;
}
.title_accent-small{
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
  /* color: var(--accent); */
}
.title_small{
  font-size: 11px;
 /*  font-weight: 600; */
  /* line-height: 15px; */
  text-transform: capitalize;
}

.para{
  color: var(--para);
}
