/* custom colors */
:root{
    --color-primary: #2563eb;
    --color-secondary: #F2F2F2;
    --color-primarybkp: #15803d;
    --color-accent: #facc15;
    --color-accentbkp: #DB4444;
    --background: #f9fafb;
    --backgroundbkp: #F2F2F2;
    --text: #111827;
    /* --text: #333333; */
    --textbkp: #14532d;
    --para: #184A48;
    --hover: #A0BCE0;
    --disabled: #7D8184;
}

.color-primary{
    color:var(--color-primary);
} 
.color-primarybkp{
    color:var(--color-primarybkp);
}
.color-secondary{
    color: var(--color-secondary);
} 
.color-accent{
    color:var(--color-accent);
} 
.color-accentbkp{
    color:var(--color-accentbkp);
} 
.color-bg{
    background-color: var(--background);
}
.color-bgbkp{
    background-color: var(--backgroundbkp);
}
.color-text{
    color: var(--text);
}
.color-textbkp{
    color: var(--textbkp);
}
.bg-customblack{
    background-color: var(--text);
    /* background-color: #000000; */
}
.bg-customred{
    background-color: var(--color-accentbkp);
}